.preview {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;

  &--image {
    width: 400px;
  }

  &--name {
    font-size: 3rem;
  }

  .button {
    margin: 0 10px;
  }
}

.character-list {
  margin-top: 20px;
}
