<div class="preview" ng-show="editCtrl.previewName !== ''">
  <img class="preview--image" ng-src="{{editCtrl.previewImage}}">
  <h2 class="preview--name" >{{editCtrl.previewName}}</h2>
  <form class="preview--form">
    <input class="preview--cancel" ng-click="editCtrl.previewRemove()" type="submit" value="Cancel">
    <input class="preview--add" ng-click="editCtrl.addCharacter()" type="submit" value="Add">
  </form>
  <p class="preview--description">{{editCtrl.previewDesc}}</p>
</div>

<div class="container">
  <form class="input" ng-hide="editCtrl.heroes.length >= 26" ng-submit="editCtrl.previewCharacter()">
    <input class="input--text" type="text" ng-model="editCtrl.name">
    <input class="input--submit" type="submit">
  </form>

  <h1 class="team-header">Your Team ({{editCtrl.heroes.length}}/6)</h1>

  <div class="character-list">
    <div class="character" ng-repeat="character in editCtrl.heroes">

      <div class="character--left">
        <img class="character--image" ng-src="{{character.image}}">
      </div>

      <div class="character--right">

        <div class="character--top">
          <h2 class="character--name">{{character.name}}</h2>
          <input type="submit" ng-click="editCtrl.deleteCharacter(character)" value="Delete" class="character--delete">
        </div>

        <div class="character--bottom">
          <p class="character--description">{{character.description}}</p>
        </div>

      </div>
    </div>
  </div>
</div>
