  <header class="header">
    <h1 class="header--name">{{ teamCtrl.team.name }}</h1>
    <h2 class="header--creator">by {{ teamCtrl.team.creator }}</h2>
    <div class="header--edit" ng-show="teamCtrl.validated">
      This is one of your teams.
      <input type="submit" class="button" ui-sref="edit_team({id: teamCtrl.id})" value="Edit">
    </div>
    <div class="header--edit" ng-hide="teamCtrl.validated">
      <span>You can only view this team.</span>
    </div>
  </header>

  <div class="character-list">
    <div class="character" ng-repeat="character in teamCtrl.heroes | orderBy: 'name'">

      <div class="character--left">
        <img class="character--image" ng-src="{{ character.image }}">
      </div>

      <div class="character--right">

        <div class="character--top">
          <h2 class="character--name">{{character.name}}</h2>
        </div>

        <div class="character--bottom">
          <p class="character--description">{{character.description}}</p>
        </div>

      </div>
    </div>
  </div>
